{% extends 'layout.html' %}

{% block protoUI %}
webix.protoUI({
    name:"dhx-richtext",
    defaults:{
        config:{}
    },
    $init:function(config){
        var elm = webix.html.create("div", {
        // overflow-x for minimum width limitation in Richtext 1.1
        style:"width: 600;height:100%;overflow-x:auto;"
        });
        this.$view.appendChild(elm);
        this._waitEditor = webix.promise.defer();
        this.$ready.push(this._require_richtext);
    },
    _require_richtext:function(){
        if (this.config.cdn === false){
        this._init_richtext();
        return;
    };

    var cdn = this.config.cdn || "https://cdn.dhtmlx.com/richtext/1.1";

    webix.require([			
        cdn+"/richtext.js",
        cdn+"/richtext.css"
    ]).then(webix.bind(this._init_richtext, this)).catch(function(e){
        console.log(e);
        });
    },
    _init_richtext:function(){			
        var config = this.config.config;
        this._editor = new dhx.Richtext(this.$view.firstChild, config);
        this._waitEditor.resolve(this._editor);
    },
    getEditor:function(wait){
        return wait ? this._waitEditor : this._editor;
    },
    value_setter:function(value){
        this.setValue(value);
    },
    setValue:function(value, mode){
        this._waitEditor.then(function(editor){
        editor.setValue(value, mode);
        });
    },
    getValue:function(mode){
        return this._editor ? this._editor.getValue(mode) : "";
    }
}, webix.ui.view);
{% endblock %}

{% block content %}
{
    view: "form", id: "board_create", width: 1000, minHeight: 650,
    elements: [
        { view: "text", label: "title", },
        { view: "text", label: "writer" },
        {
            cols:[
                {
                    view:"dhx-richtext", id:"richtext",
                    config:{								
                        toolbarBlocks: ["clear", "colors", "decoration", "undo", "link", "fullscreen"],
                        mode: "document"
                    }
                }
            ]
        }
    ]
},
{view: "spacer", height: 5},
{
    view: "toolbar", borderless: true,
    elements: [
        {
            view: "button", label: "back", width: 100,
            type: "icon", icon: "wxi-angle-left",
            click: () => {history.go(-1);}
        },
        {
            align: "right",
            body: {
                cols: [
                    {
                        view: "button", label: "Save", width: 100,
                        type: "icon", icon: "wxi-check"
                    },
                    {
                        view: "button", label: "Undo", width: 100,
                        type: "icon", icon: "wxi-trash"
                    }
                ]
            }
        }
    ]
},
{% endblock %}

{% block functions %}
var text = `<h1>Meet DHTMLX Rich Text Editor!</h1>` +
    `<p>This demo will show you a customizable JavaScript rich text editor.</p>` +
    `<p><i>To learn more, read </i><a href="http://docs.webix.com/desktop__text_editors.html#richtext"><i>documentation</i></a></p>.`
$$("richtext").setValue(text);
{% endblock %}