{% extends 'layout.html' %}

{% block content %}
{
    view: "form",
    id: "signin_form",
    width: 500,
    elementsConfig: {
        labelWidth: 100,
    },
    elements: [
        {
            view: "text", label: "Email", name: "email",
            invalidMessage: "Invalid Email address form"
        },
        {
            view: "text", type: "password", label: "Password", name: "password",
            invalidMessage: "Password can not be empty"
        },
        {
            view: "button", id: "btnSubmit", value: "Submit", hotkey: "enter",
            click: () => {
                var signin_form = $$("btnSubmit").getParentView();
                if (signin_form.validate()) {
                    var values = signin_form.getValues();
                    values = webix.ajax().stringify(values);

                    webix.ajax().post("http://127.0.0.1:5000/process-signin", values)
                        .then((res) => {
                            location.reload();
                        });
                }
            }
        }

    ],
    rules: {
        "email": webix.rules.isEmail,
        "password": webix.rules.isNotEmpty
    }
},
{% endblock %}